.div {
    border: 3px solid #ffd000;
    background-color: #f1f51e66;
    padding: 0 5px;
}

.exemplo-static {
    position: static;
    background-color: cornflowerblue;
}

.exemplo-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:cornflowerblue;
}

.exemplo-relative {
    position: relative;
    left: 25px;
    background-color: cornflowerblue;
}

.exemplo-relative-02 {
    position: relative;
    height: 100px;
    background-color: cornflowerblue;
}

.exemplo-absolute {
    position: absolute;
    right: 10px;
    bottom: 5px;
    background-color: cornflowerblue;
}

.exemplo-sticky {
    position: sticky;
    bottom: 0;
    top: 0;
    background-color: cornflowerblue;
}